# Archivos de datos
inventario.csv
*.xlsx

# Python
__pycache__/
*.py[cod]
*.class
.Python
*.so
.env
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
